article{
color: #126086;
font-size:15px;
font-family: 'Cairo', sans-serif;
letter-spacing:2px;
padding: 1% 5% 5% 3%;
background-color:#ffffff;
margin: 0 1% 1% 1%;
/*margin-right:-25px;*/
border-radius:10px;
}
article h1{
  color: #B83327;
}
